
.primaryButton{
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #535353;
    color: white;
    cursor: pointer;
}

.primaryButton:hover:not(:disabled) {
    background: #303030;
}

.primaryButton:disabled{
    cursor: not-allowed;
    background: #232323;
}
