
.container {
    position: relative;
    display: flex;
    margin: 0 auto;
}

.scorePoints{
    min-width: 40px;
    display: inline-flex;
    justify-content: center;
    padding: 0 10px;
}

.firstPlayer{
    position: absolute;
    right: 100%;
}
.secondPlayer{
    position: absolute;
    left: 100%;
}
